.flags-indicator {
  color: #00c6c8;

  .flags-left {
    &::before{
      content: '⚑';
      color: #c15840;
      margin-right: 10px;
      transform: rotateY(180deg);
      display: inline-block;
    }
  }

  .warning {  
    color: #c15840;
    font-weight: 700;
  }
}