.button {
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.14);
  outline: none;
  cursor: pointer;
  box-sizing: border-box;


  &.primary {
    background-color: #c3d302;
    color: #5c7803;
  }

  &.secondary {
    background-color: #dccf87;
    color: #927b4c;
  }

  &.transparent {
    background-color: transparent;
    color: #333;
    box-shadow: none;
    padding: 0;
  }

  &.small {
    width: 150px;
    padding: 5px;
    font-size: 32px;
  }

  &.medium {
    width: 250px;
    padding: 12px;
    font-size: 48px;

  }

  &.large {
    width: 350px;
    padding: 16px;
    font-size: 60px;
  }

  &.unset {
    width: unset;
    padding: 0;
  }
}