.button {
  background-color: #c3d302;
  color: #5c7803;
  padding: 20px;
  border-radius: 10px;
  font-size: 50px;
  border: none;
  box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.14);
  outline: none;
  cursor: pointer;
}