.app-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f7efc1;
  padding-top: 48px;
  box-sizing: border-box;
  min-height: 100%;
  min-width: 100%;
  width: fit-content;

  h1 {
    color: #ee7b47;
    text-shadow: 2px 2px #ccc;
    font-size: 48px;
  }

  .app-logo {
    width: 150px;
    border-radius: 25%;
  }
}