html, body, #root {
  min-height: 100% !important;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Londrina Solid', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Londrina Solid', cursive;
}

li {
  list-style: none;
}
